USE [master]
GO
/****** Object:  Database [APPDB]    Script Date: 3/20/2023 10:10:34 AM ******/
CREATE DATABASE [APPDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'APPDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\APPDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'APPDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\APPDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [APPDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [APPDB]
GO
/****** Object:  Table [dbo].[HL7]    Script Date: 3/20/2023 10:10:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HL7](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sinyal_Id] [varchar](50) NULL,
	[Deger] [varchar](50) NULL,
 CONSTRAINT [PK_HL77] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NST]    Script Date: 3/20/2023 10:10:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NST](
	[nstId] [int] IDENTITY(1,1) NOT NULL,
	[FHR] [int] NULL,
	[UA] [int] NULL,
 CONSTRAINT [PK_NST] PRIMARY KEY CLUSTERED 
(
	[nstId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUAT]    Script Date: 3/20/2023 10:10:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUAT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NULL,
	[Takimi] [varchar](50) NULL,
	[Plaka] [varchar](50) NULL,
	[Lakap] [varchar](50) NULL,
 CONSTRAINT [PK_SUATİ] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
